<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PazhDataCollect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PazhDataCollect.Properties.Settings>
            <setting name="RemoteCN" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalCN" serializeAs="String">
                <value />
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartDates" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ShopName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalSQL" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteSQL" serializeAs="String">
                <value />
            </setting>
            <setting name="DateField" serializeAs="String">
                <value />
            </setting>
            <setting name="DaysBefore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShamsiDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Digitz8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalDB" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteDB" serializeAs="String">
                <value />
            </setting>
            <setting name="FinalSQL" serializeAs="String">
                <value />
            </setting>
        </PazhDataCollect.Properties.Settings>
    </userSettings>
</configuration>